body
{
    background: #FFF url(../images/img01.jpg) repeat-x;
    font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
}

h1, h2, h3
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0 0 12px;
    padding: 0;
}

h1
{
    font-size: large;
}

h2
{
    font-size: medium;
}

h3
{
    letter-spacing: 2px;
    font-size: 12px;
}

p, blockquote, ul, ol
{
    line-height: 18px;
    text-align: justify;
}

blockquote
{
    padding-left: 20px;
    background: url(../images/img05.gif) repeat-y;
}

a
{
    color: #329494;
}

a img
{
    border: 0;
}

code
{
    display: block;
    border: solid 1px #CCC;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 16px;
}

#header
{
    background-position: 300px;
    width: 85%;
    min-width: 760px;
    height: 80px;
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-color: #FFF;
    z-index: 110;
    margin: 0 auto;
}

#header #banner
{
    width: 610px;
    height: 80px;
    background: url(../images/bannerimage1.png);
    float: right;
}

#header h1, #header h2
{
    text-transform: lowercase;
    font-weight: 400;
    color: #FFF;
}

#header h1
{
    float: left;
    font-size: 36px;
    padding: 120px 0 0 20px;
}

#header h2
{
    float: right;
    font-size: 22px;
    padding: 134px 20px 0 0;
}

.section
{
    width: auto;
}

#Menu_Main
{
    position: relative;
    width: 85%;
    height: 50px;
    min-width: 760px;
    overflow: visible;
    z-index: 100;
    text-align: left;
    list-style-type: none;
    list-style-position: outside;
    margin: 0 auto;
}

#Menu_Main .section
{
    overflow: hidden;
}

#Menu_Main li
{
    position: relative;
    height: 50px;
    float: left;
    background-image: url(../Images/menu-item-up.gif);
    background-repeat: repeat-x;
}

#Menu_Main li:hover
{
    position: relative;
    height: 50px;
    float: left;
    background-color: #329494;
    background-image: none;
    color: #AAA;
}

#Menu_Main li a
{
    position: relative;
    display: block;
    text-decoration: none;
    font: bold 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #329494;
    background: none;
    padding: 17px 15px 15px;
}

#Menu_Main li ul
{
    position: absolute;
    display: none;
    top: 50px;
    width: auto;
    height: auto;
    clear: left;
    list-style-type: none;
    list-style-position: outside;
    background-color: #329494;
    border: 1px solid #329494;
    border-style: none solid solid;
    margin: 0;
    padding: 0;
}

#Menu_Main li.selected
{
    position: relative;
    height: 50px;
    float: left;
    background-image: url(../Images/menu-item-over.gif);
    background-repeat: repeat-x;
}

#Menu_Main .selected > ul a
{
    color: #329494;
}

#Menu_Main li ul li
{
    position: relative;
    width: 192px;
    height: auto;
    background-image: none;
    display: block;
    clear: left;
    overflow: visible;
    background-color: #FFF;
}

#Menu_Main li ul li a
{
    position: relative;
    display: block;
    text-decoration: none;
    font: bold 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #329494;
    padding: 4px 8px;
}

#Menu_Main li ul ul
{
    position: absolute;
    left: 192px;
    top: -1px;
    float: left;
}

#contentwrapper
{
    position: relative;
    width: 85%;
    min-width: 760px;
    overflow: auto;
    margin: 0 auto 20px;
}

#content
{
    position: relative;
    background-position: left bottom;
    min-height: 192px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: #329494;
    border-left-color: #329494;
    overflow: auto;
    background: url(../images/img04.jpg) repeat-x left bottom;
    padding: 20px 10px 10px;
}

#posts
{
    position: relative;
    float: left;
    min-width: 480px;
    width: 65%;
    height: inherit;
    overflow: visible;
    margin: 0 auto;
}

.post
{
    padding-left: 12px;
}

#links
{
    position: relative;
    float: right;
    width: 200px;
    padding-left: 20px;
    background: url(../images/img05.gif) repeat-y;
    overflow: visible;
    margin: 0 auto;
}

#links li ul
{
    padding: 5px 0 30px;
}

#links li li
{
    background: url(../images/img06.gif) repeat-x left bottom;
    padding: 7px 10px;
}

#links li a:hover
{
    text-decoration: underline;
}

#links li i
{
    font-style: normal;
    font-size: 9px;
}

#links li h2
{
    font-size: 14px;
}

#footer
{
    height: 100px;
    background: #FFF url(../images/footer-background.gif) repeat-x;
    text-align: center;
    padding: 20px;
}

#footer p
{
    text-align: center;
    color: #999;
}

div[id*="Login"] input[type*="submit"]
{
    border: 1px #CCC solid;
    background: #DDD;
    padding: 4px;
}

div[id*="Login"] input[type*="submit"]:hover
{
    border: 1px #CCC solid;
    background: #EFEFEF;
    padding: 4px;
}

fieldset
{
    border: 1px solid #CCC;
    display: block;
    margin: 15px 0 5px;
}

fieldset .padding
{
    padding: 8px;
}

fieldset p
{
    margin: 15px 0 5px;
    padding: 8px;
}

fieldset hr
{
    color: #CCC;
    height: 1px;
}

fieldset legend
{
    display: block;
    border: 2px solid #DDD;
    margin-bottom: 8px;
    background-color: #FFF;
    padding: 8px;
}

fieldset label
{
    position: relative;
    float: left;
    display: block;
    height: auto;
    width: 128px;
    padding-top: 12px;
    padding-left: 32px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    color: #666;
}

fieldset .labeltext
{
    display: inline-block;
    margin-top: 4px;
    border: 1px solid #CCC;
    color: #333;
    padding: 6px;
}

fieldset input[type*="text"]
{
    border: 1px solid #CCC;
    width: 256px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #333;
    padding: 6px;
}

fieldset input[type*="text"][class*="small"]
{
    border: 1px solid #CCC;
    width: 120px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    color: #333;
    padding: 6px;
}

fieldset input[type*="password"]
{
    border: 1px solid #CCC;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #333;
    padding: 6px;
}

fieldset textarea
{
    border: 1px solid #CCC;
    overflow: auto;
    color: #333;
    margin-bottom: 2px;
    padding: 6px;
}

fieldset select
{
    border: 1px solid #CCC;
    color: #333;
    padding: 6px;
}

fieldset .selectlarge
{
    border: 1px solid #CCC;
    color: #333;
    margin-left: 24px;
    margin-top: 8px;
    padding: 6px;
}

fieldset input[type*="submit"]
{
    border: 2px solid #CCC;
    background-color: #CCC;
    color: #FFF;
    font-weight: 700;
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 3px;
}

fieldset input[type*="submit"]:hover
{
    border: 2px solid #AAA;
    background-color: #AAA;
    color: #FFF;
}

fieldset li
{
    list-style: none;
    margin-left: 2px;
    float: left;
    clear: left;
    width: 99%;
    border-bottom: 1px solid #eee;
    padding: 3px;
}

.fltright
{
    float: right;
    padding-left: 12px;
}

.fltleft
{
    float: left;
    padding-right: 12px;
}

.box50right
{
    width: 50%;
    background-color: #FAFAFA;
    float: right;
    padding: 8px;
}

.box50left
{
    width: 50%;
    background-color: #FAFAFA;
    float: left;
    padding: 8px;
}

a:hover, #links li a
{
    text-decoration: none;
}

#Menu_Main li:hover > ul, #Menu_Main li ul li:hover > a
{
    color: #fff;
}

#Menu_Main .selected a, #Menu_Main a:hover
{
    color: #FFF;
}

#Menu_Main li ul li:hover, #Menu_Main li ul li.selected
{
    position: relative;
    width: 192px;
    height: auto;
    background-image: none;
    display: block;
    clear: left;
    overflow: visible;
    background-color: #329494;
}

#Menu_Main li:hover > a 
{
    color: #fff;
}

div[id*="Login"] input[type*="text"], div[id*="Login"] input[type*="password"]
{
    border: 1px #CCC solid;
    padding: 4px;
}

#links ul, fieldset ol
{
    list-style: none;
    margin: 0;
    padding: 0;
}
