* {
	margin: 0;
	padding: 0;
	border: 0 ;
}

h1, h2, h3
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0 0 12px;
    padding: 0;
}

h1
{
    font-size: large;
}

h2
{
    font-size: medium;
}

h3
{
    letter-spacing: 2px;
    font-size: small;
}

p, blockquote, ul, ol
{
    line-height: 18px;
    text-align: justify;
}

blockquote
{
    padding-left: 20px;
    background: url(../Images/blockquote-gackground.gif) repeat-y;
}

a img
{
    border: 0;
}

code
{
    display: block;
    border: solid 1px #CCC;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 16px;
}

.section
{
    width: auto;
}

fieldset
{
    border: 1px solid #CCC;
    display: block;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 15px 0 5px;
}

fieldset .padding
{
    padding: 8px;
}

fieldset p
{
    margin: 15px 0 5px;
    padding: 8px;
}

fieldset hr
{
    color: #CCC;
    height: 1px;
}

fieldset legend
{
    display: block;
    border: 2px solid #DDD;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #FFF;
    padding: 8px;
}

fieldset label
{
    position: relative;
    float: left;
    display: block;
    height: auto;
    width: 128px;
    padding-top: 12px;
    padding-left: 32px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    color: #666;
}

fieldset .labeltext
{
    display: inline-block;
    margin-top: 4px;
    border: 1px solid #CCC;
    color: #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
}

fieldset input[type*="text"]
{
    border: 1px solid #CCC;
    width: 256px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
}

fieldset input[type*="text"][class*="small"]
{
    border: 1px solid #CCC;
    width: 120px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    color: #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
}

fieldset input[type*="password"]
{
    border: 1px solid #CCC;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
}

fieldset textarea
{
    border: 1px solid #CCC;
    overflow: auto;
    color: #333;
    margin-bottom: 2px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
}

fieldset select
{
    border: 1px solid #CCC;
    color: #333;
    padding: 6px;
}

fieldset .selectlarge
{
    border: 1px solid #CCC;
    color: #333;
    margin-left: 24px;
    margin-top: 8px;
    padding: 6px;
}

fieldset input[type*="submit"]
{
    border: 2px solid #CCC;
    background-color: #CCC;
    color: #FFF;
    font-weight: 700;
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 3px;
}

fieldset input[type*="submit"]:hover
{
    border: 2px solid #AAA;
    background-color: #AAA;
    color: #FFF;
}

fieldset li
{
    list-style: none;
    margin-left: 2px;
    float: left;
    clear: left;
    width: 99%;
    border-bottom: 1px solid #eee;
    padding: 3px;
}

.fltright
{
    float: right;
    padding-left: 12px;
}

.fltleft
{
    float: left;
    padding-right: 12px;
}

.box50right
{
    width: 50%;
    background-color: #FAFAFA;
    float: right;
    padding: 8px;
}

.box50left
{
    width: 50%;
    background-color: #FAFAFA;
    float: left;
    padding: 8px;
}

a:hover, #links li a
{
    text-decoration: none;
}

a, #Menu_Main .selected > ul a
{
    color: #329494;
}
