body {
background-image:url(../Images/Login/Login-Background.gif);
background-position:top;
background-repeat:repeat-x;
position:relative;
margin:0;
}

form {
border:0;
padding:0;
}

.shadow {
-moz-box-shadow:0 3px 6px #999;
-webkit-box-shadow:0 3px 6px #999;
box-shadow:0 3px 6px #999;
-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#999999')";
filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#999999');
}

#messages {
height:24px;
position:relative;
width:100%;
border: 0;
margin: 0;
}

#messages p {
margin:0 0 0 8px;
padding:4px;
}

.admincontext {
-moz-border-radius:8px;
-webkit-border-radius:8px;
background-color:#FFF;
border:2px solid #399;
border-radius:8px;
display:none;
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
position:absolute;
z-index:99999;
margin:0 1em 1em;
padding:4px;
}

.admincontext ul {
margin:0 1em;
padding:0;
}

.admincontext li {
-moz-border-radius:6px;
-webkit-border-radius:6px;
background-color:#FFF;
border:0;
border-radius:6px;
color:#399;
list-style-type:none;
margin-bottom:1px;
width:100px;
padding:3px;
}

.admincontext li:hover {
background-color:#399;
color:#FFF;
}

.admincontext li a {
color:#366;
display:block;
font-size:small;
padding-left:4px;
text-decoration:none;
}

.admincontext li:hover > a {
color:#FFF;
}

.adminwrapper {
min-width:780px;
position:relative;
width:100%;
}

fieldset {
border:2px solid #AAA;
margin:10px 0 20px;
padding:8px;
}

fieldset legend {
background:#FFF;
border-left-color:#AAA;
border-left-style:solid;
border-left-width:1px;
border-right-color:#AAA;
border-right-style:solid;
border-right-width:1px;
color:#333;
font-weight:700;
white-space:nowrap;
margin:0;
padding:0 8px;
}

label {
display:inline-block;
float:left;
margin-right:4px;
position:relative;
width:164px;
padding:6px;
}

label[for*="chk"] {
display:block;
overflow:auto;
position:relative;
width:256px;
padding:0;
}

input[id*="chkPropagate"] {
float:left;
overflow:auto;
position:relative;
width:32px;
padding:0;
}

hr {
border:0;
border-top:1px solid #EEE;
height:0;
}

input[type*="checkbox"] {
border:1px;
}

input,select,textarea {
border:1px solid #AAA;
color:#333;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:small;
margin-left:1px;
margin-right:1px;
padding:6px;
}

.arrowup:hover {
background-image:url(../Images/ArrowUp-Over.gif);
}

.arrowdown:hover {
background-image:url(../Images/Arrowdown-Over.gif);
}

.arrowleft:hover {
background-image:url(../Images/Arrowleft-Over.gif);
}

.arrowright:hover {
background-image:url(../Images/Arrowright-Over.gif);
}

p,div {
color:#333;
font-family:Arial, Helvetica;
font-size:small;
}

h1 {
background-color:#fff;
border-bottom-color:#399;
border-bottom-style:solid;
border-bottom-width:4px;
color:#366;
font-family:Arial, Helvetica;
font-size:large;
font-weight:700;
padding-bottom:4px;
margin-top:0;
}

a {
color:#33C;
}

.navsection {
overflow:hidden;
margin:2px;
padding:0 2px 2px;
}

.nodeLink {
border:1px solid #fff;
color:#666;
display:block;
font-size:small;
text-decoration:none;
line-height:2.5em;
vertical-align:middle;
padding-left:24px;
margin:0;
}

.navLink {
border:1px solid #fff;
color:#666;
display:block;
font-size:small;
text-decoration:none;
line-height:2em;
vertical-align:middle;
padding-left:14px;
margin:0;
}

.sitepanel > img,.site > img,.rootnode > img,.newsite img {
padding:2px 0 0;
}

.sitepanel > img {
margin-left:8px;
margin-right:8px;
}

.navsection a:hover {
-moz-border-radius:6px;
-webkit-border-radius:6px;
background-color:#ffc;
border:1px solid #699;
border-radius:6px;
}

.navsection .showall {
color:#666;
font-size:small;
width:auto;
margin:8px 0 8px 32px;
padding:0 0 0 4px;
}

.navsection .chkshowall input {
margin:10px 0 0;
}

.sitepanel {
border-left:2px solid #fff;
overflow:hidden;
padding-left:4px;
position:relative;
}

#collapseallcontrol {
clear:both;
text-align:center;
}

#collapseallcontrol label {
color:#666;
width:40px;
padding:0 0 0 4px;
}

#collapseallcontrol a {
-moz-border-radius:6px;
-webkit-border-radius:6px;
background-color:#699;
border:1px solid #366;
border-radius:6px;
color:#fff;
display:inline;
text-decoration:none;
margin:0 6px;
padding:2px 12px;
}

.sitepanel ul {
border-left:2px solid #fff;
list-style:none;
list-style-position:outside;
margin-bottom:12px;
position:relative;
}

.sitepanel ul li {
position:relative;
}

.site {
font-weight:700;
padding:2px;
}

.node {
width:93%;
}

.node img {
position:relative;
padding:6px 0 0;
}

.nodeActive {
-moz-border-radius:6px;
-webkit-border-radius:6px;
background-color:#399;
border:1px solid #366;
border-radius:6px;
color:#fff;
cursor:pointer;
display:block;
font-size:small;
height:24px;
text-decoration:none;
margin:0;
padding:8px 4px 0 28px;
}

.nodeActive:hover {
color:#366;
}

.group {
border:1px solid #AAA;
position:relative;
margin:8px 0 16px;
padding:8px;
}

.group > table {
margin-top:16px;
}

.group h4 {
background:#FFF;
border-left-color:#AAA;
border-left-style:solid;
border-left-width:1px;
border-right-color:#AAA;
border-right-style:solid;
border-right-width:1px;
color:#333;
font-weight:700;
position:absolute;
top:-7px;
white-space:nowrap;
margin:0;
padding:0 8px;
}

.group h5 {
color:#666;
font-size:100%;
margin:0;
padding:0 4px 0 2px;
}

.group td {
font-size:small;
line-height:21px;
vertical-align:top;
}

.group ul {
margin:0;
padding:2px;
}

.group li {
display:inline;
list-style-type:none;
margin:0;
}

.validator {
color:#C00;
}

.error {
display:inline;
float:none;
color:Red;
}

.messagebox {
background-color:#EEE;
border:solid 1px #CCC;
color:#060;
font-weight:700;
padding:4px;
}

.errorbox {
background-color:#EEE;
border:solid 1px #CCC;
color:#C00;
font-weight:700;
padding:4px;
}

.pager {
font-size:120%;
}

.pager a {
margin-left:5px;
margin-right:5px;
}

.pager a:hover {
background-color:#ffa;
}

table.tbl {
border-collapse:collapse;
color:#333;
visibility:visible;
margin-bottom:8px;
width:100%;
}

table.tbl th {
background-color:#EEE;
border-top:solid 1px #CCC;
border-bottom:solid 1px #CCC;
border-right:solid 1px #CCC;
color:#333;
font-size:small;
font-weight:700;
padding:4px 8px;
}

table.tbl td {
border-bottom:1px solid #EEE;
font-size:small;
padding:4px;
}

table.tbl tr {
height:32px;
}

table.tbl tbody tr {
background-color:#fff;
}

#role {
width:60%;
}

#title {
width:25%;
}

.AspNet-RadioButtonList {
margin-top:12px;
}

#header {
background-color:#FFF;
background-image:url(../Images/Logo-AdminMain.gif);
background-repeat:no-repeat;
height:56px;
padding:5px;
}

#header h1 {
visibility:hidden;
display:none;
}

#header #viewbuttons {
margin-top:12px;
float:right;
}

#header #viewbuttons h3 {
display:inline;
margin:0 24px;
}

#adminwrapper {
min-width:1000px;
width:100%;
}

#menupane {
float:left;
min-width:280px;
position:relative;
width:28%;
}

#menupane h3 {
-moz-border-radius:16px;
-webkit-border-radius:16px;
border:3px solid #399;
border-radius:16px;
color:#366;
font-size:small;
height:24px;
min-width:156px;
width:90%;
margin:0;
padding:8px 0 0 12px;
}

#contentpane {
float:right;
min-width:720px;
position:relative;
width:72%;
}

#menumodal {
background-image:url(/Images/alpha50.png);
display:none;
height:100%;
position:absolute;
text-align:center;
width:100%;
z-index:9999;
}

#menumodal #progress {
background-image:url(/Images/progress-ani.gif);
height:66px;
margin-left:auto;
margin-right:auto;
position:relative;
top:30%;
width:66px;
}

#pad {
-moz-border-radius:12px;
-webkit-border-radius:12px;
background-color:#fff;
border:1px #ccc solid;
border-radius:12px;
margin:8px 4px;
padding:12px;
}

#navbar {
min-width:1000px;
padding: 0 8px 0 8px;
} 

#navigationbar {
-moz-border-radius:12px;
-webkit-border-radius:12px;
background-color:#fff;
border-radius:12px;
height:32px;
min-width:966px;
margin:8px 4px;
padding:12px;
}

#navigationbar a {
float:left;
margin-right:16px;
padding:2px;
}

.min550 {
min-height:550px;
}

#moduleadminpane {
position:relative;
top: 16px;
-moz-border-radius:12px;
-webkit-border-radius:12px;
background-color:#fff;
border:1px #999 solid;
border-radius:12px;
padding:12px;
}

.cleanpad16 {
padding: 0 16px 0 16px ;
}

.cleanpad8 {
padding: 0 4px 0 4px ;
}

.center {
text-align:center;
}

.AspNet-CheckBoxList ul {
width:256px;
margin:0;
padding:0;
}

.AspNet-CheckBoxList .AspNet-CheckBoxList-Item {
-moz-border-radius:6px;
-webkit-border-radius:6px;
display:block;
float:left;
position:relative;
margin:0;
padding:4px 0;
}

.AspNet-CheckBoxList .AspNet-CheckBoxList-Item:hover {
background-color:#f60;
color:#fff;
}

.AspNet-CheckBoxList .AspNet-CheckBoxList-Item input {
float:left;
position:relative;
margin:0 8px;
}

.AspNet-RadioButtonList ul {
list-style:none;
padding:0;
}

.admincontext .disabled,#login #cuyahoga span {
display:none;
}

.sitepanel:hover,.treeview:hover {
border-left:2px solid #3cc;
}

#collapseallcontrol a:hover,#subheader a:hover {
background-color:#e6f7f7;
color:#366;
}

.AspNet-CheckBoxList .AspNet-CheckBoxList-Item label,.AspNet-RadioButtonList ul li label {
display:block;
float:left;
position:relative;
width:220px;
margin:0;
padding:0;
}

.AdminContentPad {
padding:16px;
}

.panel60,.panel40 {
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
}

.panel60 {
position:relative;
border:1px solid #CCC;
min-width:550px;
width:60%;
margin-bottom:16px;
padding:8px;
}

.panel40 {
position:relative;
border:1px solid #CCC;
min-width:550px;
width:40%;
margin-bottom:16px;
padding:8px;
}

#moduleadminpane fieldset {
border:1px solid #CCC;
padding:8px;
}

#moduleadminpane .AspNet-GridView table {
width:100%;
border:none 0;
}

#moduleadminpane .AspNet-GridView table th {
font-size:small;
font-weight:700;
color:#FFF;
background-color:#CCC;
text-align:left;
padding:2px;
}

#moduleadminpane .AspNet-GridView table tbody tr {
background-color:#FFF;
font-size:small;
font-weight:400;
color:#666;
text-align:left;
padding:2px;
}

#moduleadminpane .AspNet-GridView .AspNet-GridView-Alternate {
background-color:#EFEFEF;
font-size:small;
font-weight:400;
color:#666;
text-align:left;
padding:2px;
}

#moduleadminpane .AspNet-GridView .AspNet-GridView-Selected {
background-color:#F60;
font-size:small;
font-weight:400;
color:#FFF;
text-align:left;
padding:2px;
}

#moduleadminpane .AspNet-GridView table tbody td {
font-size:small;
font-weight:400;
color:#666;
text-align:left;
}

#moduleadminpane fieldset .validator {
color:red;
}

#moduleadminpane fieldset legend {
margin-bottom:16px;
border:1px solid #CCC;
font-size:small;
font-weight:700;
color:#666;
padding:4px;
}

#moduleadminpane fieldset label {
position:relative;
display:inline-block;
width:128px;
font-size:small;
font-weight:700;
color:#666;
padding:6px;
}

#moduleadminpane fieldset input[type*="checkbox"] {
width:16px;
height:16px;
border:0;
}

input:hover,select:hover,textarea:hover,input:focus,select:focus,textarea:focus,table.tbl tr:hover,#moduleadminpane .AspNet-GridView table tbody tr:hover {
background-color:#FFC;
}

.hidden,#headertitle span,#moduleadminpane .hidden {
display:none;
visibility:hidden;
}

.tblarge,#customsettings tr,#rights {
width:50%;
}

#tosection,#name,#path,#aliasurl,#entrynode {
width:40%;
}

#nodetitle,#rolename,#rightname,#lastupdated,#attach,#attached {
width:20%;
}

#action,#select,#systemrole,#connectiondelete,#position {
width:10%;
}

#actions,#path {
width:30%;
}

#adminwrap,#nodegeneral,#roles,#sections,#customsettings,#connections,#authorisation,#categories,#aliases,#roles,#users,#templates,#userdetails,#placeholders {
width:100%;
}