.editorcontextmenu
{
    position: absolute;
    right: 0;
    z-index: 900;
}

.editorcontextmenu:hover
{
    cursor: pointer;
}

.modulewrapper
{
    position: relative;
    overflow: auto;
}

.moduletools
{
    position: absolute;
    right: 32px;
    width: 128px;
    overflow: visible;
    z-index: 1000;
    vertical-align: top;
    display: none;
    margin: 0;
    padding: 10px;
    
    background-image:url(../images/panel-alpha-background.png);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border:2px solid #000;
    border-radius:8px;
    
    -moz-box-shadow: 0px 4px 4px #999;
	-webkit-box-shadow: 0px 4px 4px #999;
	box-shadow: 0px 4px 4px #999;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666');
}

.moduletitle
{
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 12px;
    height: 12px;
    font-size: small;
    padding: 0 8px;
}

.moduletools span
{
    display: none;
    visibility: hidden;
}

.moduletools a
{
    position: relative;
    display: block;
    float: left;
    overflow: visible;
    top: -6px;
}

.moduletools a img
{
    border-style: none;
}

.moduletools a[id*="editcontent"]
{
    background-image: url(../Images/edit-up.png);
    height: 32px;
    width: 128px;
}

.moduletools a[id*="editcontent"]:hover
{
    background-image: url(../Images/edit-over.png);
}

.moduletools a[id*="sectionproperties"]
{
    background-image: url(../Images/section-up.png);
    height: 32px;
    width: 128px;
}

.moduletools a[id*="sectionproperties"]:hover
{
    background-image: url(../Images/section-over.png);
}

.moduletools a[id*="pageproperties"]
{
    background-image: url(../Images/page-up.png);
    height: 32px;
    width: 128px;
}

.moduletools a[id*="pageproperties"]:hover
{
    background-image: url(../Images/page-over.png);
}
